
@{
    ViewBag.Title = "ShopByCategories";
    ViewBag.Category = "Empty";
}

<h2>Shop By Categories</h2>

<div>
@{
    @Html.ActionLink("Button-Down Shirts", "Index", "Products")
    ViewBag.Category = "Button-Down Shirts";
}<br />
</div>

