@model IEnumerable<string>
<h2>Shop By Categories</h2>

<div>

    
    @foreach (string category in Model)
    {
        @Html.ActionLink(category, "BrowseProducts", "Products", new {category = category}, null)
        <br/>
    }

</div>


